# Dependencies
node_modules
.pnpm-store

# Build
dist
build
.vite

# Environment
.env
.env.local
.env.*.local

# IDE / OS
.idea
.vscode
.DS_Store
*.log
Thumbs.db

# Debug
npm-debug.log*
pnpm-debug.log*
